.classe-1{
    background-color: rgb(65, 4, 65);
    ul{
        color: rgb(255, 227, 71);
    }
    li{
        background-color: darkblue;
    }
    .div2{
        background-color: rgb(255, 227, 71);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 10px;
    }

    button{
        background-color: green;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: rgb(65, 4, 65);
            transition: 1s;
        }
    }
}