$btn-color: firebrick;
$btn-width: 100px;
$btn-text: white;

.btn1{
    background-color: $btn-color;
    width: $btn-width;
    color: $btn-text;
}

.btn2{
    background-color: $btn-color;
    width: $btn-width;
    color: $btn-text;
}